.footer {
  padding-top: 55px;
  padding-bottom: 60px;
  background-color: var(--color-gray);

  &__logo {
    @media screen and (max-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &__phone {
    flex-shrink: 0;
    margin-right: 0;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 30px;
      padding-right: 45px;
      padding-left: 45px;
    }

    @media screen and (max-width: 425px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__menu-list {
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      margin-bottom: 24px;
      padding-left: 18px;
    }
  }

  &__under {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: var(--font-sm);
    color: rgba(71, 65, 50, 0.5);

    a {
      transition: color var(--animation-500ms);
    }

    a:hover {
      color: var(--color-text);
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      padding-right: 45px;
      padding-left: 45px;
    }

    @media screen and (max-width: 425px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__copyright {
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__author-wrapper {
    display: flex;
  }

  &__author:not(:last-child) {
    margin-right: 10px;
  }
}
