.form-section {
  padding-top: 110px;
  padding-bottom: 120px;

  &__text-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 68px;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      padding-right: 45px;
      padding-left: 45px;
    }

    @media screen and (max-width: 480px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__title {
    max-width: 735px;
    text-align: left;

    @media screen and (max-width: 900px) {
      margin-bottom: 25px;
      max-width: unset;
      text-align: center;
    }
  }

  &__descr {
    display: flex;
    align-items: center;
    font: var(--font-2md);
    line-height: 30px;

    &-icon {
      margin-top: 8px;
      margin-right: 25px;

      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    @media screen and (max-width: 900px) {
      justify-content: center;
      margin-bottom: 35px;
      text-align: center;
    }
  }

  &__message {
    margin-right: 90px;
    margin-left: auto;
    width: 320px;
    box-shadow: 0 30px 50px rgba(221, 215, 198, 0.2);

    &-wrapper {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      border-radius: 14px;
      padding: 20px 38px 27px 40px;
      background-color: var(--color-white);

      &::after {
        content: "";
        position: absolute;
        right: 53px;
        bottom: -16px;
        width: 41px;
        height: 18px;
        background-image: url("../img/message-arrow.svg");
        transform: rotateY(180deg);
      }
    }

    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    &-avatar {
      margin-right: 15px;
      border-radius: 50%;
      width: 26px;
      height: 26px;
    }

    &-name {
      font: var(--font-xsm);
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    &-emoji {
      position: absolute;
      right: 45px;
      top: -8px;
    }

    &-text {
      margin: 0;
      width: 100%;
      font: var(--font-md);
      line-height: 27px;

      span {
        font-weight: 600;
      }
    }

    @media screen and (max-width: 1024px) {
      margin-right: 10px;
    }

    @media screen and (max-width: 900px) {
      margin-right: auto;
    }
  }

  &__form {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      padding-right: 45px;
      padding-left: 45px;
    }

    @media screen and (max-width: 480px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__input-wrapper {
    margin-right: 20px;
    width: 100%;
    max-width: 440px;

    @media screen and (max-width: 900px) {
      margin-right: 0;
      margin-bottom: 12px;
      max-width: unset;
    }
  }

  &__input {
    display: block;
    border: 1px solid var(--color-border);
    border-radius: 14px;
    padding: 32px 55px;
    width: 100%;
    font: var(--font-2md);
    color: rgba(71, 65, 50, 1);

    &::placeholder {
      font: var(--font-2md);
      color: rgba(71, 65, 50, 0.8);
    }

    @media screen and (max-width: 768px) {
      padding: 25px 43px;
    }
  }

  &__button {
    flex-shrink: 0;
    padding: 30px 85px;
    font-size: 18px;
    line-height: 38px;

    @media screen and (max-width: 900px) {
      width: 100%;
    }

    @media screen and (max-width: 480px) {
      padding: 30px 40px;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.js-validate-error-label {
  margin-top: 15px;
  padding-left: 25px;
  font: var(--font-sm);

  @media screen and (max-width: 900px) {
    margin-top: 8px;
  }
}