.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  font: var(--font-sm);
  line-height: 40px;

  &__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -16px;
      top: 50%;
      display: block;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: var(--color-gradient);
      transform: translateY(-50%);
    }

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    transition: text-shadow var(--animation-500ms);

    &:hover {
      text-shadow: 0 0 0.01px var(--color-text);
    }
  }
}