<section class="about">
  <div class="about__container container-fluid">
    <div class="about__image-block">
    <img src="img/about-img.png" class="about__image">
      <div class="about__message">
        <div class="about__message-name">Anna Höglund</div>
        <div class="about__message-text">Luo kimppuja omin käsin</div>
      </div>
    </div>
    <div class="about__text-block">
      <h2 class="about__title h2-title">Miksi päätimme luoda syötäviä kukkakimppuja?</h2>
      <div class="about__text">
        <p>Se alkoi silloin kun koko maailman oli pysähtynyt. Kukaan ei pitänyt juhlia, ei lasten synttäreitä, ei ylioppilaskirjoituksia eikä kukaan enää suunnitellut isoja häitä kesäksi.</p>
        <p>Tarina alkoi toivosta ja toiveesta, että tämä ei ole ikuista ja vielä me juhlitaan monissa juhlissa ja näemme iloisia kasvoja, kuulemme naurua ja hauskojen keskustelujen ääniä</p>
        <p>Terveys ja huolenpito ympärillä olevista ihmisistä ovat nousseet esille tärkeinä aiheina koko maailmalla.</p>
        <p>Miten voi yhdistää sekä huolenpitoa että juhlaa samassa tilanteessa?</p>
        <p>Ja silloin se syntyi, idea oppia jotakin uutta ja luoda sekä visuaalista juhlaa että pitää huolta rakkaiden ihmisten terveydestä ja hyvinvoinnista</p>
      </div>
    </div>
  </div>
</section>