<section class="catalog">
  <div class="catalog__container container">
    <h2 class="catalog__title h2-title">Kimppu luettelo</h2>
    <ul class="catalog__label-list">
      <li class="catalog__category-item"><button class="catalog__label catalog__label--active" data-filter=".makeasta">Makeasta</button></li>
      <li class="catalog__category-item"><button class="catalog__label" data-filter=".hedelmistä">Hedelmistä</button></li>
      <li class="catalog__category-item"><button class="catalog__label" data-filter=".vihanneksista">Vihanneksista</button></li>
      <li class="catalog__category-item"><button class="catalog__label" data-filter=".lomalle">Lomalle</button></li>
      <li class="catalog__category-item"><button class="catalog__label" data-filter=".namikuppi">Namikuppi</button></li>
      <li class="catalog__category-item"><button class="catalog__label" data-filter=".lapsille">Lapsille</button></li>
      <li class="catalog__category-item"><button class="catalog__label" data-filter=".muut">Muut</button></li>
      <li class="catalog__category-item"><button class="catalog__label" data-filter=".lisää">Lisää</button></li>
    </ul>
    <div class="catalog__wrapper grid">
      <div href="#" class="catalog__item card makeasta">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card makeasta">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card makeasta">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card makeasta">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card makeasta">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card makeasta">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card makeasta">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card makeasta">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card makeasta">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card hedelmistä">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma 1</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card hedelmistä">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma 1</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card hedelmistä">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma 1</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
      <div href="#" class="catalog__item card constructor">
        <a href="#" class="card__page-link">
          <img src="img/card-img.jpg" class="card__image">
        </a>
        <div class="card__info">
          <div class="card__title">Nimi Suklaaunelma 2</div>
          <p class="card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti</p>
          <div class="card__price">alkaen 30€</div>
          <button href="#" class="card__button button">Valitse</button>
        </div>
      </div>
    </div>
  </div>
</section>