<footer class="footer">
  <div class="footer__container container">
    <div class="footer__info">
      <a href="/" class="footer__logo logo">namikimppu</a>
      <ul class="footer__menu-list menu">
        <li class="menu__item"><a href="#" class="menu__link">Katalogi</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Miten tehdä tilaus</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Meistä</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Yleisiä kysymyksiä</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Palautteet</a></li>
      </ul>
      <a href="tel:+1234567890" class="footer__phone phone">
        <svg class="phone__icon" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.4754 13.4689C16.3122 13.4689 15.17 13.2869 14.0877 12.9293C13.5573 12.7484 12.9053 12.9143 12.5816 13.2468L10.4453 14.8595C7.96768 13.537 6.44154 12.0113 5.13708 9.55236L6.70235 7.47166C7.10902 7.06554 7.25488 6.47228 7.08012 5.91564C6.7209 4.82759 6.53842 3.68596 6.53842 2.52221C6.53847 1.68151 5.85452 0.997559 5.01387 0.997559H1.5246C0.683951 0.997559 0 1.68151 0 2.52216C0 12.1582 7.83938 19.9976 17.4754 19.9976C18.3161 19.9976 19 19.3136 19 18.473V14.9934C19 14.1528 18.316 13.4689 17.4754 13.4689Z" fill="url(#paint0_linear_218:388)"/>
          <defs>
          <linearGradient id="paint0_linear_218:388" x1="19" y1="19.9976" x2="-5.63718e-07" y2="19.9976" gradientUnits="userSpaceOnUse">
          <stop stop-color="#EBB949"/>
          <stop offset="1" stop-color="#FECA56"/>
          </linearGradient>
          </defs>
          </svg>
        +358 40 717 4888
      </a>
    </div>
    <div class="footer__under">
      <a href="#" class="footer__copyright">© Copyright Namikimppu 2021. All Rights reserved.</a>
      <a href="#" class="footer__author">developed by: Timofey Krivenkov</a>
    </div>
  </div>
</footer>
