<section class="form-section">
  <div class="form-section__container container">
    <div class="form-section__text-block">
      <div class="form-section__text">
        <h2 class="form-section__title h2-title">Jätä yhteystietosi, jos sinulle jäi jotain kysyttävää</h2>
        <div class="form-section__descr">
          <svg class="form-section__descr-icon" width="28" height="13" viewBox="0 0 28 13" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M0.0351562 0C0.547903 7.26528 6.60424 13 14 13C21.3957 13 27.4521 7.26528 27.9648 0H23.9506C23.4489 5.05332 19.1853 9 14 9C8.81464 9 4.55109 5.05332 4.04937 0H0.0351562Z"
              fill="url(#paint0_linear_1045:538)" />
            <defs>
              <linearGradient id="paint0_linear_1045:538" x1="27.9648" y1="13" x2="0.0351554" y2="13"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#EBB949" />
                <stop offset="1" stop-color="#FECA56" />
              </linearGradient>
            </defs>
          </svg>
          <div class="form-section__descr-text">
            Otamme sinuun yhteyttä ja vastaamme kysymyksiisi
          </div>
        </div>
      </div>
      <div class="form-section__message" aria-hidden="true">
        <div class="form-section__message-wrapper">
          <div class="form-section__message-title">
            <img src="img/hero__message-avatar.jpg" class="form-section__message-avatar">
            <div class="form-section__message-name">Anna Höglund</div>
          </div>
          <img src="img/form__message-emoji.png" class="form-section__message-emoji">
          <p class="form-section__message-text">Me autamme kokoamaan juuri teille sopivan tilauksen</p>
        </div>
      </div>
    </div>
    <div class="form-section__form-block">
      <form action="POST" class="form-section__form">
        <div class="form-section__input-wrapper">
          <input class="form-section__input" type="text" name="Name" id="formName" placeholder="Nimi" data-validate-field="name">
        </div>
        <div class="form-section__input-wrapper">
          <input class="form-section__input" type="tel" name="Phone" id="formPhone" placeholder="Puhelin" data-validate-field="phone">
        </div>
        <button type="submit" class="form-section__button button">Pyydä puhelua</button>
      </form>
    </div>
  </div>
</section>