<section class="hero">
  <div class="hero__container container">
    <div class="hero__descr">
      <h1 class="hero__title">Syötävä kimppu on paras ratkaisu kaikkiin juhliin</h1>
      <div class="hero__adv">
        <div class="hero__adv-item icon-block">
          <svg class="icon-block__icon" width="28" height="13" viewBox="0 0 28 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0351562 0C0.547903 7.26528 6.60424 13 14 13C21.3957 13 27.4521 7.26528 27.9648 0H23.9506C23.4489 5.05332 19.1853 9 14 9C8.81464 9 4.55109 5.05332 4.04937 0H0.0351562Z" fill="url(#paint0_linear_1045:538)"/>
            <defs>
            <linearGradient id="paint0_linear_1045:538" x1="27.9648" y1="13" x2="0.0351554" y2="13" gradientUnits="userSpaceOnUse">
            <stop stop-color="#EBB949"/>
            <stop offset="1" stop-color="#FECA56"/>
            </linearGradient>
            </defs>
            </svg>
          <div class="icon-block__text">
            <span>Yleinen lahja</span> kaikkiin tilanteisiin
          </div>
        </div>
        <div class="hero__adv-item icon-block">
          <svg class="icon-block__icon" width="28" height="13" viewBox="0 0 28 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0351562 0C0.547903 7.26528 6.60424 13 14 13C21.3957 13 27.4521 7.26528 27.9648 0H23.9506C23.4489 5.05332 19.1853 9 14 9C8.81464 9 4.55109 5.05332 4.04937 0H0.0351562Z" fill="url(#paint0_linear_1045:538)"/>
            <defs>
            <linearGradient id="paint0_linear_1045:538" x1="27.9648" y1="13" x2="0.0351554" y2="13" gradientUnits="userSpaceOnUse">
            <stop stop-color="#EBB949"/>
            <stop offset="1" stop-color="#FECA56"/>
            </linearGradient>
            </defs>
            </svg>
          <div class="icon-block__text">
            Paras <span>tapa säästää</span> aikaa lahjaa valittaessa
          </div>
        </div>
      </div>
      <button class="hero__button button">Valitse kimppu</button>
    </div>
    <div class="hero__image-block">
      <picture>
        <source srcset="img/hero-img-mobile.png" media="(max-width: 840px)">
        <img class="hero__image" src="img/hero-img.png" alt="">
      </picture>
      <div class="hero__message" aria-hidden="true">
        <div class="hero__message-wrapper">
          <div class="hero__message-title">
            <img src="img/hero__message-avatar.jpg" class="hero__message-avatar">
            <div class="hero__message-name">Anna Höglund</div>
          </div>
          <img src="img/hero__message-emoji.png" class="hero__message-emoji">
          <p class="hero__message-text">Syötävä kimppu on <span>erinomainen vaihtoehto</span> kukkakimpulle</p>
        </div>
      </div>
    </div>
  </div>
</section>