<section class="product">
  <h1 class="product__h1 visually-hidden">Buy ProductName in ShopName SEO h1 placeholder</h1>
  <div class="product__container container">
    <h2 class="product__title">Kori</h2>
    <div class="product__wrapper">
      <div class="product__slider-block">
        <div class="product__main-slider main-slider swiper">
          <div class="main-slider__wraper swiper-wrapper">
            <div class="main-slider__item swiper-slide">
              <img src="img/slider-image.jpg" alt="" class="main-slider__image">
            </div>
            <div class="main-slider__item swiper-slide">
              <img src="img/slider-image.jpg" alt="" class="main-slider__image">
            </div>
            <div class="main-slider__item swiper-slide">
              <img src="img/slider-image.jpg" alt="" class="main-slider__image">
            </div>
          </div>
        </div>
        <div class="product__sub-slider sub-slider swiper">
          <div class="sub-slider__wrapper swiper-wrapper">
            <div class="sub-slider__item swiper-slide">
              <img src="img/slider-image.jpg" alt="" class="sub-slider__image">
            </div>
            <div class="sub-slider__item swiper-slide">
              <img src="img/slider-image.jpg" alt="" class="sub-slider__image">
            </div>
            <div class="sub-slider__item swiper-slide">
              <img src="img/slider-image.jpg" alt="" class="sub-slider__image">
            </div>
            <div class="sub-slider__item swiper-slide">
              <img src="img/slider-image.jpg" alt="" class="sub-slider__image">
            </div>
          </div>
        </div>
      </div>
      <div class="product__text-block product-card">
        <h3 class="product-card__title">Nimi Suklaaunelma</h3>
        <div class="product-card__descr">Sisältö: Ferrero rocher, Susu, Vohvelipala, Suklaakonvehti.</div>
        <div class="product-card__shipping">Toimitusaika 2-3 päivää</div>
        <div class="product-card__size">
          <form class="product-card__size-wrapper product-card__size-wrapper--constructor">
            <div class="product-card__size-selectors">
              <select name="firstIngredient" class="product-cars__size-selector">
                <option value="Chocolate">Шоколад</option>
                <option value="Caramel">Карамель</option>
                <option value="Marshmallow">Зефир</option>
              </select>
              <select name="secondIngredient" class="product-cars__size-selector">
                <option value="Chocolate">Шоколад</option>
                <option value="Caramel">Карамель</option>
                <option value="Marshmallow">Зефир</option>
              </select>
              <select name="thirdIngredient" class="product-cars__size-selector">
                <option value="Chocolate">Шоколад</option>
                <option value="Caramel">Карамель</option>
                <option value="Marshmallow">Зефир</option>
              </select>
            </div>
            <div class="product-card__size-title product-card__size-title--constructor">Valitse koko:</div>
            <div class="product-card__sizes">
              <div class="product-card__size-item">
                <input class="product-card__radio visually-hidden" id="radio-small" type="radio" name="size" value="small">
                <label for="radio-small" class="product-card__size-label">
                  S = 20-25cm
                </label>
              </div>
              <div class="product-card__size-item">
                <input class="product-card__radio visually-hidden" id="radio-medium" type="radio" name="size" value="medium">
                <label for="radio-medium" class="product-card__size-label">
                  M = 30-35cm
                </label>
              </div>
              <div class="product-card__size-item">
                <input class="product-card__radio visually-hidden" id="radio-large" type="radio" name="size" value="large">
                <label for="radio-large" class="product-card__size-label">
                  L = 40cm
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="product-card__quantity">
          <div class="product-card__price">30€</div>
          <div class="product-card__quantity-wrapper">
            <button class="product-card__quantity-button product-card__quantity-button--minus"><svg class="product-card__quantity-icon">
              <use xlink:href="img/sprite.svg#minus">
            </svg></button>
            <div class="product-card__quantity-number">1</div>
            <button class="product-card__quantity-button product-card__quantity-button--plus"><svg class="product-card__quantity-icon">
              <use xlink:href="img/sprite.svg#plus">
            </svg></button>
          </div>
        </div>
        <div class="product-card__buttons">
          <a href="#" data-quantity="1" class="product-card__button button">Siirry maksamaan</a>
          <a href="#" class="product-card__cart">
            <svg width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path id="first"
                d="M36.463 12.2264C36.2836 12.0502 36.033 11.9666 35.7837 12H26.0479V7.69808C26.0479 3.44653 22.6014 0 18.3498 0C14.0982 0 10.6517 3.44653 10.6517 7.69808V12H0.915744C0.644019 12 0.372381 12 0.236475 12.2264C0.0539388 12.4018 -0.0307422 12.6558 0.0100815 12.9057L3.40634 31.4717C3.88079 34.0616 6.11708 35.9567 8.74973 36H27.9497C30.5899 35.9351 32.8215 34.0249 33.2931 31.4264L36.6894 12.9057C36.7302 12.6558 36.6455 12.4018 36.463 12.2264ZM12.463 7.69808C12.463 4.44692 15.0986 1.81132 18.3497 1.81132C21.6009 1.81132 24.2365 4.44692 24.2365 7.69808V12H12.463V7.69808ZM31.4818 31.2C31.1768 32.9162 29.6927 34.1719 27.9497 34.1887H8.74973C7.00671 34.1719 5.52267 32.9163 5.21766 31.2L2.00256 13.8113H34.6969L31.4818 31.2Z" fill="#474132"/>
                <path id="second"
                d="M36.463 12.2264C36.2836 12.0502 36.033 11.9666 35.7837 12H26.0479V7.69808C26.0479 3.44653 22.6014 0 18.3498 0C14.0982 0 10.6517 3.44653 10.6517 7.69808V12H0.915744C0.644019 12 0.372381 12 0.236475 12.2264C0.0539388 12.4018 -0.0307422 12.6558 0.0100815 12.9057L3.40634 31.4717C3.88079 34.0616 6.11708 35.9567 8.74973 36H27.9497C30.5899 35.9351 32.8215 34.0249 33.2931 31.4264L36.6894 12.9057C36.7302 12.6558 36.6455 12.4018 36.463 12.2264ZM12.463 7.69808C12.463 4.44692 15.0986 1.81132 18.3497 1.81132C21.6009 1.81132 24.2365 4.44692 24.2365 7.69808V12H12.463V7.69808ZM31.4818 31.2C31.1768 32.9162 29.6927 34.1719 27.9497 34.1887H8.74973C7.00671 34.1719 5.52267 32.9163 5.21766 31.2L2.00256 13.8113H34.6969L31.4818 31.2Z" fill="url(#gradientColor)"/> 
              <defs>
                <linearGradient id="gradientColor" x1="36.6994" y1="36" x2="-1.08885e-06" y2="36"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#EBB949" />
                  <stop offset="1" stop-color="#FECA56" />
                </linearGradient>
              </defs>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>