<section class="question">
  <div class="question__container container">
    <h2 class="question__title h2-title">Vastaamme kysymyksiinne</h2>
    <ul class="question__list">
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <h3 class="accordion__title">1. Onko mahdollisuutta tilata mukautettu kimppu?</h3>
          <svg class="accordion__icon">
            <use xlink:href="img/sprite.svg#arrow-down">
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Kyllä, kukkakimppujen luettelo sisältää tuotteen "Kerää kimppusi". Voit valita ainesosat itse.
        </div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <h3 class="accordion__title">2. Voinko varata kukkakimpun ja maksaa vastaanotettaessa?</h3>
          <svg class="accordion__icon">
            <use xlink:href="img/sprite.svg#arrow-down">
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Kyllä, kukkakimppujen luettelo sisältää tuotteen "Kerää kimppusi". Voit valita ainesosat itse.
        </div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <h3 class="accordion__title">3. Kuinka kauan yhden kimpun valmistamiseen kestää?</h3>
          <svg class="accordion__icon">
            <use xlink:href="img/sprite.svg#arrow-down">
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Kyllä, kukkakimppujen luettelo sisältää tuotteen "Kerää kimppusi". Voit valita ainesosat itse.
        </div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <h3 class="accordion__title">4. Voinko tehdä tilauksen tietylle päivälle?</h3>
          <svg class="accordion__icon">
            <use xlink:href="img/sprite.svg#arrow-down">
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Kyllä, kukkakimppujen luettelo sisältää tuotteen "Kerää kimppusi". Voit valita ainesosat itse.
        </div>
      </li>
      <li class="question__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <h3 class="accordion__title">5. Kuinka kauan kestää toimitus N kaupunkiin?</h3>
          <svg class="accordion__icon">
            <use xlink:href="img/sprite.svg#arrow-down">
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          Kyllä, kukkakimppujen luettelo sisältää tuotteen "Kerää kimppusi". Voit valita ainesosat itse.
        </div>
      </li>
    </ul>
  </div>
</section>