<section class="steps">
  <div class="steps__container container">
    <h2 class="steps__title h2-title">Tee tilauksesi verkkosivustomme kautta</h2>
    <div class="steps__wrapper">
      <div class="steps__item step-item step-item--first">
        <span class="step-item__counter">Vaihe 1</span>
        <h3 class="step-item__title">Valitse kimppu</h3>
        <p class="step-item__descr">Tee tilauksesi siirtymällä ostoskoriin. Syötä yhteystietosi oikein, jotta voimme olla sinuun yhteydessä.</p>
      </div>
      <div class="steps__item step-item step-item--second">
        <span class="step-item__counter">Vaihe 2</span>
        <h3 class="step-item__title">Maksa</h3>
        <p class="step-item__descr">Tee 100% ennakkomaksu kimpusta. Hyväksymme: Visa / MasterCard / PayPal</p>
      </div>
      <div class="steps__item step-item step-item--third">
        <span class="step-item__counter">Vaihe 3</span>
        <h3 class="step-item__title">Odota toimitusta tai nouda se itse</h3>
        <p class="step-item__descr">Teemme yhteistyötä DHL-toimitusten kanssa. Tai voitte noutaa kukkakimpun itse osoitteesta.</p>
        <a href="#" class="step-item__link">Lue lisää toimituksesta</a>
      </div>
    </div>
  </div>
</section>